<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>481524343359-phvhrnuu8frnbnf0ggd73quvggck79rm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.481524343359-phvhrnuu8frnbnf0ggd73quvggck79rm</string>
	<key>API_KEY</key>
	<string>AIzaSyBjAknENkTVM641r90wzljObttWR7k-v1M</string>
	<key>GCM_SENDER_ID</key>
	<string>481524343359</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thousand.tmcsatti</string>
	<key>PROJECT_ID</key>
	<string>tmc-satti</string>
	<key>STORAGE_BUCKET</key>
	<string>tmc-satti.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:481524343359:ios:f225cb38856e7c03bace8a</string>
</dict>
</plist>